#header{
    background-color: green;
    color: black;
}
#nav{
    background-color: green;
    color: white;
    position: sticky;

}
#hero{
    background-color: green;
    height: 500px;
}
#bg{
    background-image: url(./cta-bg\ \(1\).jpg); 
    text-align: center;
    color: white;
    height: 500px;
    
}
#sliding{
    margin-top: 5%;
}
#sliding i{
    padding: 50px;
    margin: 5%;
    
}

.nav-card{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

}
.card_info{
    display: flex;
    margin-top: 5%;
    overflow: scroll;

}
.card_info::-webkit-scrollbar{
    display: none;
}
.card_details{
    margin: 10px;
}
.card_details .card{
    border: none;
    box-shadow: 0 0 5px black;
}
.card_details .card:hover{
    box-shadow: 0 0 10px gray;
}
.card_img{
    border-radius: 50%;
    width: 80px;
}
@media screen and (min-width:1000px) {
    .nav-card{
        margin-bottom: -60px;
        padding: 0px 10%;
        
    }
}
#port span:hover{
    color: green;
    cursor: pointer;
}

#dropdownMenuButton1{
    color: green;
    
}

